DATABASE_URL=postgresql://postgres:fD5-JkLcxMYU8V2dhBE1@db.yeytdbzukgmsaogorrfj.supabase.co:5432/postgres

# Configuración de n8n
N8N_WEBHOOK_URL=http://127.0.0.1:5678/webhook/revision-tesis

# Configuración de la App
NEXT_PUBLIC_APP_URL=http://localhost:3000



# Supabase Storage & Auth
NEXT_PUBLIC_SUPABASE_URL=https://yeytdbzukgmsaogorrfj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlleXRkYnp1a2dtc2FvZ29ycmZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NTY2NjIsImV4cCI6MjA5MzEzMjY2Mn0.yPr0Z9K9GN7P5DEhxE9I897XVZWSLhq_J79TTlOnLdA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlleXRkYnp1a2dtc2FvZ29ycmZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzU1NjY2MiwiZXhwIjoyMDkzMTMyNjYyfQ.XZf5GVs12GLqH0ixzWhkwyWjdDFcup4_BdCKyyUam_M
