# Configuración de Base de Datos (Supabase)
DATABASE_URL=postgresql://postgres:[TU_PASSWORD]@db.[TU_PROYECTO].supabase.co:5432/postgres

# Configuración de n8n
N8N_WEBHOOK_URL=http://127.0.0.1:5678/webhook/revision-tesis

# Configuración de la App
NEXT_PUBLIC_APP_URL=http://localhost:3000



# Supabase Storage & Auth
NEXT_PUBLIC_SUPABASE_URL=https://[TU_PROYECTO].supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ...[TU_ANON_KEY]...
SUPABASE_SERVICE_ROLE_KEY=eyJ...[TU_SERVICE_ROLE_KEY]...
